<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MotoTracker uses your location to track your motorcycle rides.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>MotoTracker uses your location to track your motorcycle rides even when the app is in the background.</string>
</dict>
</plist> 